
#root {
  margin: 0;
  height: 100vh;
  width: 100%;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-top: 10%;
}
/* Apply column direction when the screen width is less than 1000px (adjust as needed) */
@media screen and (max-width: 1000px) {
  .container {
    flex-direction: column;
  }
}

.outerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;
}

.stockSearch {
  width: 30%;
}

.stockForm {
  width: 100%;
  display: flex;
  justify-content: center;
}

.stockSubmit {
  flex: 1;
  height: 2rem;
}

.chartContainer {
  width: 50%;
  /* aspect-ratio: '1/1'; */
}

  /* Apply column direction when the screen width is less than 1000px (adjust as needed) */
  @media screen and (max-width: 1000px) {
    .chartContainer {
      width: 100%;
    }
  }