.watchListItem {
    display: flex;
    gap: 2rem;
    height: 3rem;
    border-bottom: 1px solid black;
    justify-content: space-between;
  }

  .watchListText:hover {
    color: blue;
    cursor: pointer;
  }

  .green {
    color: green;
  }

  .red {
    color: red;
  }